%center{style: "background-color: #505050; padding-bottom: 40px;"}
  %div{style: "padding: 10px 0; margin-bottom: 10px;"}
    %div{style: "color: #1E701E; font-size: 28px; background-color: #3D3D3D; width: 190px;"}="PiensaQue"

  %center{style: "max-width: 600px; background-color: #D7D7D7; padding: 20px;"}
    %h1="Nuevo Petición de Invitación"

    %p
      ="Invitación nº #{@invitation.id} creada"

    %br