%center{style: "background-color: #505050; padding-bottom: 40px;"}
  %div{style: "padding: 10px 0; margin-bottom: 10px;"}
    %div{style: "color: #1E701E; font-size: 28px; background-color: #3D3D3D; width: 190px;"}="PiensaQue"

  %center{style: "max-width: 600px; background-color: #D7D7D7; padding: 20px;"}
    %img{src: "https://s3.amazonaws.com/static.piensaque/images/cafe.jpg", style:"width: 300px;"}

    %h1="Se acabaron los cafés"

    %p
      ="Después de muchas semanas, te escribo este email para comunicarte que PiensaQue ha llegado a su fase beta. Ha sido un largo camino para llegar hasta aquí. Y te agradezco de todo corazón que te hayas interesado por el proyecto."

    %p
      ="PiensaQue utiliza una novedosa caracteristica que permite a los navegadores capturar y almacenar audio, sin necesidar de complementos de terceros (como Adobe Flash). Por lo que, para lograr la máxima experiencia de PiensaQue, se aconseja utilizar Mozilla Firefox o Google Chrome."
    %p
      ="La finalidad de PiensaQue es la de capturar audio y compartirlo con tus amigos. Puedes ser cualquier cosa: tararear una canción, decir al mundo como te va el día, o, incluso, contar un chiste de Lepe. Todo lo que se te ocurra en 7 segundos. Los límites los pones tú."

    %p
      ="Sin mas dilación, haz clic sobre el siguiente enlace para registrarte en la aplicación:"

    %p
      %a{href: @url}="Entrar en PiensaQue"

    %p
      ="PiensaQue no esta acabado y todo consejo es bien recibido. Puedes encontrarme en Twitter (@SergioCC14) o ponerte en contacto conmigo en PiensaQue."