.request_card
	- if !(invitation == 'sent')
		="Ahora estamos en fase beta. \n  Si estas interesado, puedes dejarnos tu email."

		= form_for(@request_invitation) do |f|
			.field
				= f.email_field(:email, :class => 'default_field', :placeholder => 'Email', :required => true)

			.actions{:style => 'margin-bottom: 0px;'}
				= f.submit('Enviar',:class => 'default_submit')
	- else
		="Hemos recibido tu petición"
		%div="Esto puede llevar unas semanas"
		%div="Tal vez, te apetezca un café"
		%i.icon-coffee