%html
  %head
    %title The page you were looking for doesn't exist (404)
    #user_container{:style => 'padding-bottom: 5px;'}
      .title_section.center{:style => 'padding: 20px;'}="The page you were looking for doesn't exist."
      .information_block.center{:style => 'height: 50px;'}
        %p You may have mi styped the address or the page may have moved.