%html
  %head
    %title We're sorry, but something went wrong (500)
    #user_container{:style => 'padding-bottom: 5px;'}
      .title_section.center{:style => 'padding: 20px;'}="We're sorry, but something went wrong"
      .information_block.center{:style => 'height: 75px;'}
        %p Our team of monkeys working on the issue. Please, wait.
        
        %p
          ="If the issue persist, please contact us in: "
          %b="sergiocc14.12(a)gmail.com"