#user_container
  .user_block
    .name_user_block
      = render :partial => 'users/user_row', :locals => {:user => current_user}
 
    .information_block
      = render :partial => 'pnsqs/maker_pnsq', :locals => {:pnsq => Pnsq.new}

      .pnsq_column{:style => 'width: 100%; text-align: left;'}
        .pnsq_hollow#new_pnsq_hollow
        - for pnsq in @pnsq_list
          = render :partial => 'pnsqs/pnsq_box', :locals => {:pnsq => pnsq}

  - if (user_next_step = UserNextStep.find_or_create_by(:user_id => current_user.id)) and (!user_next_step.dashboard_help)
    :javascript
      $.getScript("#{user_next_step_user_path(current_user.id, :step => 'dashboard_help')}")