.window_header
  %h2="Buzón de Voz"
.content_in_holder
  %table.pnsq_in_holder
    - if !pnsqs.blank?
      - for pnsq in pnsqs
        = render :partial => 'users/personal_pnsq_row', :locals => {:pnsq => pnsq} 
           
    - else
      .text="Sin mensajes todavía"