- if params[:role] == 'following'
  = render :partial => 'users/relation_in_holder_following', :locals => {:relations => @relations} 
- else
  = render :partial => 'users/relation_in_holder_followers', :locals => {:relations => @relations}