.search_box
  %input.search_input{:placeholder => 'Buscar...'}
  .icon-search.search_icon
  .search_list_holder
    %table.search_list
      %tr.loading
        %td
          %i.icon-spinner
        %td
          ="Cargando..."

:javascript
  $('.icon-search.search_icon').click(function() {
    $('.search_list').html("<tr class='loading'><td><i class='icon-spinner'></i></td><td>Cargando...</td></tr>")
    $('.search_list_holder').fadeIn();
    $.getScript('/users/search?field=' + $('input.search_input').val());
  })