.search_box
  %input.search_input{:placeholder => 'Buscar...'}
  .icon-search.search_icon
  .search_list_holder
    %table.search_list.empty
      %tr.loading
        %td
          %i.icon-spinner
        %td
          ="Cargando..."

:javascript
  $('.icon-search.search_icon').click(function() {
    $('.search_list').html("<tr class='loading'><td><i class='icon-spinner'></i></td><td>Cargando...</td></tr>")
    $('.search_list_holder').fadeIn();
    $.getScript('/users/search?field=' + $('input.search_input').val());
  })

  $('input.search_input').keydown(function(e) {  
    if (e.which == 13){
      $('.icon-search.search_icon').click();  
    } else if (e.which == 27) {
      $('.search_list_holder').fadeOut();
    }
  })

  $('input.search_input').click(function() {
    if (!$('.search_list').hasClass('empty')) {
      $('.search_list_holder').fadeIn();
    }
  })

  //Sacado de http://stackoverflow.com/questions/1403615/use-jquery-to-hide-a-div-when-the-user-clicks-outside-of-it
  $(document).mouseup(function (e) {
    var container = $('.search_list_holder')

    if (!container.is(e.target)
        && container.has(e.target).length === 0) {
        container.fadeOut();
    }
  });
  