#user_container
  .user_block
    .name_user_block
      = render :partial => 'users/user_row', :locals => {:user => @user, :relation => @relation}

    .information_block
      - if !@pnsqs.blank?
        - for pnsq in @pnsqs
          = render :partial => 'pnsqs/pnsq_box', :locals => {:pnsq => pnsq} 
      - else
        .not_pnsq="Not Pnsqs Yet"
        
    = render :partial => 'users/some_users'