#user_container
  .user_block
    -#La idea es que aquí vaya informacion del usuario (Foto y Nombre)
    .name_user_block
      .user_row  
        .user_row_principal_text="#{@user.nick.capitalize}"
        .connections_panel
          .follow="#{@user.followers} Followers"
          .follow="#{@user.following} Following"


    .information_block
      - for pnsq in @pnsqs
        = render :partial => 'pnsq/pnsq_box', :locals => {:pnsq => pnsq} 