.header
	PiensaQue

#background_lading
#container 
	.block
		.landing_main_block
			.landing_info_block
				.langing_info_block_level_2
					.landing_info_text="What is the"
					.landing_info_text_important="thinking"
					.landing_info_text="of my contacts?"
			.langing_login_block
				.langing_login_block_level_2
					= text_field_tag :email_or_nick, nil, :class => 'default_field', :placeholder => 'Email or nick', :style => 'width: 100%'
					= password_field_tag :pass, nil, :class => 'default_field', :placeholder => 'Password', :style => 'width: 100%'
					.landing_zone_button
						= link_to("Enter", "", :class => 'landing_button landing_enter')
						%a{:class => 'normal_link', :onclick => '$("#invitation_request_box").slideToggle();'}='Or request an invitation'
		.invitation_request{:id => 'invitation_request_box'}
			= render :partial => 'request_invitation/landing_message', :locals => {:invitation => params[:invitation]}


- if (params[:invitation] == 'sent')
	:javascript
		$("#invitation_request_box").slideToggle();


/ #footer_landing
/ 	.footer_link="About"
/ 	.footer_link="|"
/ 	.footer_link="Contact "