-# Multipart (documentacion)
= form_for(pnsq, :multipart => true) do |f|
  %div{:style => 'margin: auto; display:table;'}
    .new_pnsq_panel
      .record_button#pnsq_microphone
        %i.icon-microphone

      %content
        %a#audio-file{:style => 'display:inline-block;', :href => '#'}="Fichero?"

      - if false #Para añadir texto
        .right_zone 
          .text_wrapper
            = f.text_area :text, :maxlength => 80, :overflow => 'hidden', :placeholder => 'Add text on your PnsQ...'

          = f.fields_for :tags do |t|
            .tags_wrapper
              = t.text_field(:name, :placeholder => 'Tags...', :id => "tag")
    =f.submit

  :javascript
    $('#pnsq_microphone').click(function() {
      if ($(this).hasClass('recording')) {
        stop_record_audio();
        $('#pnsq_microphone').removeClass("recording");  
      } else {
        $('#pnsq_microphone').addClass("recording")
        start_record_audio();
      }
    });

  :javascript
    // Para la subida del fichero
    function uploadForm() {
      var form = new FormData(document.getElementById("new_pnsq"));
      form.append("user_audio_blob", prueba);
      var request = new XMLHttpRequest();
      var async = true;
      request.open("POST", "/pnsqs.js", async);
      if (async) {
          request.onreadystatechange = function() {
              if(request.readyState == 4 && request.status == 200) {
                  var response = null;
                  try {
                      response = JSON.parse(request.responseText);
                  } catch (e) {
                      response = request.responseText;
                  }
                  uploadFormCallback(response);
              }
          }
      }
      request.send(form);
    }

