-# Multipart (documentacion)
= form_for(pnsq, :multipart => true) do |f|
  %div{:style => 'margin: auto; display:table;'}
    .new_pnsq_panel
      .record_button#pnsq_microphone
        %i.icon-microphone
      -#En content es donde se clava el audio

      %content{:style => 'display:none'}

      %audio#audio_content{:controls => true, :style => 'display: block'}
        %source#source_content{:src => ''}
      //= f.file_field :audio, :id => 'audio_pnsq',:style => ''

      - if false #Para añadir texto
        .right_zone 
          .text_wrapper
            = f.text_area :text, :maxlength => 80, :overflow => 'hidden', :placeholder => 'Add text on your PnsQ...'

          = f.fields_for :tags do |t|
            .tags_wrapper
              = t.text_field(:name, :placeholder => 'Tags...', :id => "tag")
    
    %div{:id => 'play_record', :style => 'cursor:pointer; display: inline-block;'}="PLAY record"  
    %div{:id => 'stop_record', :style => 'cursor:pointer; display: inline-block;'}="STOP record"
    %div{:id => 'pause_record', :style => 'cursor:pointer; display: inline-block;'}="PAUSE record"
    =f.submit


  :javascript
    $('#pnsq_microphone').click(function() {
      hasGetUserMedia();
      if (context == 0) {
        $('#pnsq_microphone').addClass("recording")
        start_record_audio();
      } else {
        stop_record_audio();
        $('#pnsq_microphone').removeClass("recording")
      }
    });


    $('#play_record').click(function() {
      start_record_audio();
    });


    $('#stop_record').click(function() {
      stop_record_audio();
    });

    $('#pause_record').click(function() {
      pause_record_audio();
    });