-#El color de fondo variará dependiendo del tipo de música que suene en el monento en que se grabó

.pnsq_box{:style => "background-color: #{cycle('#E24F4F','#97B959','#AEAEAE','#EEA83B','#945E94','#EEEEEE')}"}