//= require jquery
//= require jquery_ujs
//= require_tree .


// Cambia img
function readURL(input, previewImg) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
      
    reader.onload = function (e) {
      previewImg.attr('src', e.target.result);
    }
      
    reader.readAsDataURL(input.files[0]);
  }
}

// Cambia background
function loadPreview(input, previewImg) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
      
    reader.onload = function (e) {
      previewImg.attr('src', e.target.result);
    }
      
    reader.readAsDataURL(input.files[0]);
  }
}

// Prepara un contenedor oscuro para el fondo
function ready_full_container() {
  $('body').append('<div id="full_container"></div>')
}

// Cierra un contenedor oscuro para el fondo
function close_full_container() {
  $('#full_container').remove();
}


// Prepara para lanzar una nueva ventana modal
function prepare_for_modal() {
  $('#place_for_window_in_holder').html('<div id="md-window" class="window_holder md-modal md-effect-1"><div id ="md-inner_window" class="inner_window window md-content"><div id="closer_modal" class="md-close">X</div></div></div> <script> $("#closer_modal").click(function() {close_window();}); </script>');
}

// Prepara para lanzar una nueva ventana modal (más pequeña)
function prepare_for_modal_2() {
  $('#place_for_window_in_holder').html('<div id="md-window" class="window_holder small md-modal md-effect-1"><div id ="md-inner_window" class="inner_window window md-content"><div id="closer_modal" class="md-close">X</div></div></div> <script> $("#closer_modal").click(function() {close_window();}); </script>');
}

// Prepara para lanzar una nueva ventana modal
function prepare_for_modal_info(text) {
  $('#place_for_window_in_holder_info').html('<div id="md-window-info" class="window_holder md-modal info md-effect-10"><div id ="md-inner_window" class="inner_window window md-content"><div class="text">' + text + '</div><i class="icon-spinner"></div></div>');

}

// Muestra la ventana modal, después de estar montada 
function show_modal() {
  setTimeout( function() {
    $('#md-window').toggleClass('md-show')
  }, 50 );
}

// Muestra la ventana modal, después de estar montada 
function show_modal_info() {
  setTimeout( function() {
    $('#md-window-info').toggleClass('md-show')
  }, 50 );
}

// Cierra la ventana abierta
function close_window() {
  $('#md-window').removeClass('md-show')
}

// Cierra la ventana abierta
function close_window_info() {
  $('#md-window-info').removeClass('md-show')
}

// Cierra todas las modales
function close_modals() {
  close_window();
  close_window_info();
  $('#full_container').remove();
}

// Habilita la tecla ESC para cerrar todas las ventanas y contenedores de la página
$(document).keypress(function(e){
  if(e.which == 0){
    close_modals();
  }
});