//= require jquery
//= require jquery_ujs
//= require_tree .

// Cambia img
function readURL(input, previewImg) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
      
    reader.onload = function (e) {
      previewImg.attr('src', e.target.result);
    }
      
    reader.readAsDataURL(input.files[0]);
  }
}

// Cambia background
function loadPreview(input, previewImg) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
      
    reader.onload = function (e) {
      previewImg.attr('src', e.target.result);
    }
      
    reader.readAsDataURL(input.files[0]);
  }
}


// Prepara para lanzar una nueva ventana modal
function prepare_for_modal() {
  $('#place_for_window_in_holder').html('<div id="md-window" class="window_holder md-modal md-effect-1"><div id ="md-inner_window" class="inner_window window md-content"><div id="closer_modal" class="md-close">X</div></div></div> <script> $("#closer_modal").click(function() {close_window();}); </script>');
}

// Muestra la ventana modal, después de estar montada 
function show_modal() {
  setTimeout( function() {
    $('#md-window').toggleClass('md-show')
  }, 5 );
}

// Cierra la ventana abierta
function close_window() {
  $('#md-window').toggleClass('md-show')
}