/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "general_var";

BODY{
  padding: 0px;
  margin: 0px;
  font-family: arial;
  background-size: 2560px auto;
}

#background_lading {  
  background-color: $blue_letter;
  background-image: url("https://s3.amazonaws.com/static.piensaque/images/background1.jpg");
  background-repeat: no-repeat;
  background-position: center center; 
  background-attachment: fixed;
  background-size: cover;
  
  position: fixed;
  width: 100%;
  height: 100%;
  .background_blur {
    position: fixed;
    width: 50%;
    height: 50%;
    z-index: 1000;
    background-color: red;
    margin-top: -100px;
    margin-left: 400px;

  }
}

.header {
  height: 100%;
  font-size: 50px;
  font-family: arial;
  color: $green_letter;
  background-color: $header_color;
  padding: 5px;
  line-height: 55px;
  height: 55px;

}

#container {
  .block {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -400px;


    .landing_main_block {
      width: 800px;
      height: 200px;
      margin: auto;
      display: block;
      padding: 5px;
      background-color: $green_letter;
      border-radius: 2px;

    .landing_info_block {
      text-align: center;
      float: left;
      width: 470px;
      height: 190px;
      display: inline-block;
      background-color: #1B1813;
      padding: 5px;
      color: $green_letter;
      font-size: 18px;
      border-radius: 2px;
      .langing_info_block_level_2 {
        margin-top: 80px;
        .landing_info_text {
          display: inline-block;
        }

        .landing_info_text_important {
          color: $blue_letter;
          display: inline-block;
        }

      }
    }

    .langing_login_block {
      float: right;
      width: 305px;
      height: 190px;
      padding: 5px;
      display: inline-block;
      background-color: #1B1813;
      color: $green_letter;
      border-radius: 2px;
      .langing_login_block_level_2 {
        padding: 40px;
        
        .landing_zone_button{
          display: block;
          text-align:center;
          padding-top: 20px;
        }
      }
    }
  }
  }
  .invitation_request {
    background-color: #1B1813;
    border: solid 3px $green_letter;
    border-top: none;
    width: 250px;
    float: right;
    margin-right: 10px;
    color: #4BA6DA;
    text-align: center;
    display: none;
    .request_card {
      margin: auto;
      padding: 10px;

      form {
        padding: 5px 5px 0;
        .field input{
          width: 180px;
        }
      }
      i {
        display: block;
        padding-top: 5px;
        font-size: 20px;
        line-height: 20px;
        color: brown;
      }
    }
  }
}

#footer_landing {
  height: 20px;
  width: 100%;
  font-size: 12px;
  font-family: arial;
  color: $green_letter;
  background-color: $header_color;
  padding: 10px;
  display: block;
  position: fixed;
  left:0px;
  bottom:0px;

  .footer_link {
    margin: 5px;  
    display: inline-block;
  }
}


.information_block {
  padding: 10px;
  margin: 5px;
  margin-top: 0px;
  border-radius: 5px;
  background-color: $inside_block;
  .not_pnsq {
    color: $background_normal;
    font-size: 35pt;
    text-align: center;
    padding: 25px;
  }
  .pnsq_column {
    vertical-align: top;
    text-align: right;
    display: inline-block;
    width: 445px;
    padding: 10px;
  }
  .middle_zone {
    display: inline-block;
    width:60px;
    height: auto;
  }
}


.application_admin_panel {
  h1.title_panel {
    cursor:pointer;
  }
  table{
    text-align: center;
    tr.title {
      font-weight:bold;
      background-color:#AAAAAA;
    }

    tr.users {
      width: auto;
      td.checkbox {
        width: 30px;
        
        img {
          width: 30px;
        }
      }
      input[type="submit"] {
          
          padding: 0px;
        }
      td.text {
        width: 30px;
        input {
          width: 120px;
        }
      }
    }
  }
    tr.music {
      width: auto;
      td.cover {
        width: 10px;
        img {
          cursor: pointer;
          width: 60px;
        }
      }
      input[type="submit"] {
          
          padding: 0px;
        }
      td.text {
        width: 30px;
        audio {

          position: relative;
          top: -5px;
          width: 250px;
        }
        input {
          width: 120px;
        }
      }
    }
}


.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}