@font-face {
  font-family: 'CopperCanyonNF';
  src: url('http://s3.amazonaws.com/public.piensaque.com/assets/CopperCanyonNF.ttf');
  font-weight: normal;
  font-style: normal;
}

 @font-face {
   font-family: 'DetectivesInc';
   src: url('http://s3.amazonaws.com/public.piensaque.com/assets/detectivesinc.ttf');
   font-weight: normal;
   font-style: normal;
 }

 @font-face {
   font-family: 'Droid';
   src: url('http://s3.amazonaws.com/public.piensaque.com/assets/DROID.ttf');
   font-weight: normal;
   font-style: normal;
 }