@font-face {
  font-family: 'CopperCanyonNF';
  src: url('CopperCanyonNF.ttf');
  font-weight: normal;
  font-style: normal;
}

 @font-face {
   font-family: 'DetectivesInc';
   src: url('detectivesinc.ttf');
   font-weight: normal;
   font-style: normal;
 }

 @font-face {
   font-family: 'Droid';
   src: url('DROID.ttf');
   font-weight: normal;
   font-style: normal;
 }