// Color
$green_letter: #83B32B;
$blue_letter: #8DC6DA;

// a
$link_default: #427B8F;
$link_default_hover:#52ACDA;

// Header
$header_color: rgba(27, 24, 19, 0.9);

// Bacground and blocks
$background_normal: #505050;
$main_block: #D7D7D7;
$inside_block: #CCCCCC;
$inside_sub_block: #C5C5C5;


$background_header_hover: rgba(189, 189, 189, 0.5);