// Color
$green_letter: #83B32B;
$light_green_letter: #56D656;
$blue_letter: #8DC6DA;

// a
$link_default: #427B8F;
$link_default_hover:#52ACDA;

// Header
$header_color: rgba(27, 24, 19, 0.9);

// Bacground and blocks
$background_normal: #505050;
$main_block: #D7D7D7;
$inside_block: #CCCCCC;
$inside_sub_block: #C5C5C5;


$background_header_hover: rgba(189, 189, 189, 0.5);


//keyframes
@keyframes recording {
  
  0% {
    background-color:#189618;
    color: #FFFFFF;
  }

  33% {
    background-color: #3ABA3A;
    color: #FFFFFF;
  }



  90% {
    background-color: $light_green_letter;
    color: #FFFFFF;
  }
}

@keyframes color_one {
  0%    { opacity:0.8; }
  17%   { opacity:0.4; }
  34%   { opacity:0; }
  51%   { opacity:0; }
  68%   { opacity:0; }
  85%   { opacity:0; }
  100%  { opacity:0.8; }
}
@keyframes color_two {
  0%    { opacity:0; }
  17%   { opacity:0; }
  34%   { opacity:0.8; } 
  51%   { opacity:0.4; }
  68%   { opacity:0; }
  85%   { opacity:0; }
  100%  { opacity:0; }
}
@keyframes pinky_three {
  0%    { opacity:0; }
  17%   { opacity:0; }
  34%   { opacity:0; }
  51%   { opacity:0; }
  68%   { opacity:0.8; }
  85%   { opacity:0.4; }
  100%  { opacity:0; }
}
