// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

BODY{
	padding: 0px;
	margin: 0px;
	font-family: arial;
	background-color: #8DC6DA;
	background-image: url("adaff37dd0e845de4f35d6857b58d930	.jpg");
	background-size: 2560px auto;
}

a {
	text-decoration: none;
}
a {
	background-color: none;
}

#background_lading {

}

#container {
	min-height: 100%;
	height: auto;


}

.header {
	height: 100%;
	font-size: 50px;
	font-family: arial;
	color: #83B32B;
	background-color: rgba(27, 24, 19,0.9);
	padding: 5px;
	line-height: 60px;
}

.block {
	width: 980px;
	margin: auto;

}

.landing_main_block {
	width: 800px;
	height: 200px;
	margin: auto;
	display: block;
	padding: 5px;
	background-color: #83B32B;

	.landing_info_block {
		text-align: center;
		float: left;
		width: 470px;
		height: 190px;
		display: inline-block;
		background-color: #1B1813;
		padding: 5px;
		color: #83B32B;
		font-size: 18px;
		.langing_info_block_level_2 {
			margin-top: 80px;
			.landing_info_text {
				display: inline-block;
			}

			.landing_info_text_important {
				color: #8DC6DA;
				display: inline-block;
			}

		}
	}

	.langing_login_block {
		float: right;
		width: 305px;
		height: 190px;
		padding: 5px;
		display: inline-block;
		background-color: #1B1813;
		color: #83B32B;
		.langing_login_block_level_2 {
			padding: 40px;
			
			.landing_zone_button{
				display: block;
				text-align:center;
				padding-top: 20px;

				.landing_button {
					color: #1B1813;
					border: solid 2px #5E8E07;
					padding: 5px;
					background-color: #83B32B;
					width: 50%;
					margin: auto auto;
				}
				.landing_button:hover {
					box-shadow: white 0px 0px 3px;
					cursor: pointer;
				}
			}
		}
	}
}

#footer_landing {
	height: 20px;
	width: 100%;
	font-size: 12px;
	font-family: arial;
	color: #83B32B;
	background-color: rgba(27, 24, 19,0.9);
	padding: 10px;
	display: block;
	position: fixed;
  left:0px;
  bottom:0px;

	.footer_link {
		margin: 5px;	
		display: inline-block;
	}
}


.normal_link{
	a {
	color: #427B8F !important;
	}
}

.normal_link:hover {
	a {
		color:#52ACDA  !important;
	}
}