@import "general_var";

.psnq_box {
  display: inline-block;
  position: relative;
  transition: all 1.5s;
  table {
    transition: all 0.25s;
    width: 120px;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    display: inline-block;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    
    tr {
      td.avatar {
        width: 100px;
        height: 100px;
        text-align: center;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        border-radius: 50px;
        .audio-controls {
          opacity: 0;
          display: inline-block;
          
          background-color: rgba(0, 0, 0, 0.7);
          padding: 2px 20px 0;
          .icon-play {
            color: #83B32B;
            font-size: 30px;  
            cursor: pointer;          
          }
          .duration {
            color: #D9D9D9;
          }
        }
      }
      td.avatar:hover {
        .audio-controls {
          opacity: 1;
        }
      }
      td.text {
        display: none;
        text-align: center;
        width: 250px;
        font-size: 12px;
        .date {
          font-size: 8px;
          font-style: italic;
        }
      }
      td.user_name {
        max-width: 100px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      td.tags {
        display: none;
        font-size: 8px;
        text-align: center;
        .tag_text {
          padding: 0 5px;
          background-color: #3D3D3D;
          color: #EEE;
          display: inline-block;
        }
      }
    } 
  }
  .expander {
    position: absolute;
    right: 10px;
    bottom: 7px;
    color: #004DBC;
  }
  .expander:hover {
    color: #1A88F7;
    cursor: pointer;
  }
}
.psnq_box.expand{
  table{
    width: 389px;
    tr {
      td.text {
        display: table-cell;
      }
      td.tags {
        display: table-cell;
      }
    }
  } 
}

.psnq_box.new {
  opacity: 0;
  width: 0px;
}

.new_pnsq_panel {
  padding-top: 3px;
  padding-left: 5px;
  border-radius: 5px;
  background-color: $inside_block;
  border: 1px solid $inside_sub_block;
  height: 64px;
  width: 415px;
  .record_button {
    display: inline-block;
   
    padding: 5px;
    width: 50px;
    height: 50px;
    text-align: center;
    position: relative;
     background-color: $light_green_letter;
     color: #3D3D3D;
    // box-shadow: 0px 0px 3px 1px $light_green_letter;
    // background-color: $inside_sub_block;
    border-radius: 30px;
    i {
      position: absolute;
      line-height: 50px;
      font-size: 50px;
      left: 13px;
      top: 8px;
    }
  }

  .record_button.recording {
    background-color: #56D656;
    color: #FFFFFF;
    box-shadow: 0px 0px 5px 1px #56D656;
    animation-duration: 1.25s;
    animation-name: recording;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    -webkit-animation: -webkit-recording 2s alternate infinite;
  }

  .record_button:hover {
    cursor: pointer;
    
    background-color: $light_green_letter;
    box-shadow: 0px 0px 3px 1px $light_green_letter;
    i {
      color: white;
    }
  }

  .right_zone {
    display: inline-block;
    width: 340px;
    text-align: center;
    border-radius: 5px;
    .text_wrapper{
      display: block;
      textarea {
        font-size: 12px;
        font-family: sans-serif;
        height: 40px;
        width: 345px;
        border-radius: 5px;
        border: none;
        padding: 2px;
        resize: none;
        outline: none;
      }
      textarea:focus {
        box-shadow: 0px 0px 5px #FFFFFF;
      }
    }
    .tags_wrapper{
      display: inline-block;
      width: 30%;
      input {
        text-align: center;
        display: block;
        font-size: 12px;
        font-family: sans-serif;
        width: 100%;
        border-radius: 0px 0px 5px 5px;
        border: none;
        padding: 2px;
        outline: none;
      }
      input:focus {
        box-shadow: 0px 0px 5px #FFFFFF;
      }
    }
  }
}