@import "general_var";

.pnsq_box {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 60px;
  height: 60px;
  padding: 10px;
  margin: 5px;
  background-color: #E24F4F;
  border-radius: 5px;
  .pnsq_user {
    width: 40px;
    height: 40px;
    background-color: #D7D7D7;
    position: absolute;
    z-index: 5;
    top: 10px;
    left: 18px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center center; 
    background-size: cover;
  
  }
  .pnsq_user_name {
    color:#3D3D3D;
    text-align: left;
    position: relative;
    top: 50px;
  }
  .back_pnsq {
    position: absolute;
    width: 75px;
    height: 65px;
    text-align: left;
    margin: -5px;
    overflow:hidden;
    top: 10px;
    i.icon-cloud {
      color: #8DC6DA;
      font-size: 50px;
      line-height: 50px;
      left: 3px;
    }
    .cloud_up:before{
      transform: rotate(305deg);
      -webkit-transform: rotate(305deg);
      position: absolute;
      left: -2px;
    }
    .cloud_down:before {
      position: absolute;
      top: 10px;
      transform: rotate(125deg);
      -webkit-transform: rotate(125deg);
      left: 20px;
    }
  }

}
.pnsq_box:hover {
  opacity: 0.5;
}

.new_pnsq_panel {
  padding-top: 3px;
  padding-left: 5px;
  border-radius: 5px;
  background-color: $inside_block;
  border: 1px solid $inside_sub_block;
  height: 64px;
  width: 415px;
  .record_button {
    display: inline-block;
   
    padding: 5px;
    width: 50px;
    height: 50px;
    text-align: center;
    position: relative;
     background-color: $light_green_letter;
     color: #3D3D3D;
    // box-shadow: 0px 0px 3px 1px $light_green_letter;
    // background-color: $inside_sub_block;
    border-radius: 30px;
    i {
      position: absolute;
      line-height: 50px;
      font-size: 50px;
      left: 13px;
      top: 8px;
    }
  }

  .record_button.recording {
    background-color: #56D656;
    color: #FFFFFF;
    box-shadow: 0px 0px 5px 1px #56D656;
    animation-duration: 1.25s;
    animation-name: recording;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    -webkit-animation: -webkit-recording 2s alternate infinite;
  }

  .record_button:hover {
    cursor: pointer;
    
    background-color: $light_green_letter;
    box-shadow: 0px 0px 3px 1px $light_green_letter;
    i {
      color: white;
    }
  }

  .right_zone {
    display: inline-block;
    width: 340px;
    text-align: center;
    border-radius: 5px;
    .text_wrapper{
      display: block;
      textarea {
        font-size: 12px;
        font-family: sans-serif;
        height: 40px;
        width: 345px;
        border-radius: 5px;
        border: none;
        padding: 2px;
        resize: none;
        outline: none;
      }
      textarea:focus {
        box-shadow: 0px 0px 5px #FFFFFF;
      }
    }
    .tags_wrapper{
      display: inline-block;
      width: 30%;
      input {
        text-align: center;
        display: block;
        font-size: 12px;
        font-family: sans-serif;
        width: 100%;
        border-radius: 0px 0px 5px 5px;
        border: none;
        padding: 2px;
        outline: none;
      }
      input:focus {
        box-shadow: 0px 0px 5px #FFFFFF;
      }
    }
  }
}