// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "general_var";

#container_session {
  width: 75%;
  min-width: 510px;
  height: auto;
  margin: auto auto;
  background-color: $main_block;
  text-align: center;
  border-radius: 0 0 10px 10px;

  .refused_main_block {
    margin: auto;
    width: 500px;
    height: 300px;
    padding: 5px;
    .refused_title {
      font-size: 30px;
      line-height: 30px;
      display: inline-block;
    }
    .refused_subtitle {
      display: inline-block;
    }

    .refused_form_block {
      background-color: $inside_block;
      margin-top: 5px;
      padding-bottom: 5px;
      }
    
  }
}

#footer_session {
    width: 100%;
    font-size: 12px;
    font-family: arial;
    color: $green_letter;
    background-color: #1B1813;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    position: absolute;
    bottom:0px;

    .footer_link {
      margin: 5px;  
      display: inline-block;
    }
  }