// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "general_var";

#header.pq_header {
	height: 100%;
	font-family: arial;
	color: $green_letter;
	background-color: $header_color;
	padding: 5px;
	height: 55px;
	line-height: 55px;
	box-shadow: 0px 1px 3px #6C6C6C;

	a{
		color: $green_letter;	
	}
	a:hover {
		color: #8CC6DA;
	}

	.title {
		font-size: 50px;
		display: inline-block;
	}
	.sub_title {
		display: inline-block;
		font-size: 15px;
	}
	.music_control_panel {
		display: inline-block;
		.border_icon_music {
			display: inline-block;
			min-width: 60px;
			text-align: left;

			i {

				cursor: pointer;
				font-size: 40px;
			}
			i:hover {
				color: #8CC6DA;
			}
		}
		
	}
	.user_menu {
		font-size: 40px;
		float: right;
		padding: 5px;
		position: relative;
		top: -5px;		
		.main_content_user_menu {
			margin: -5px;
			padding:5px;
			img {
				width: 40px;
				position: relative;
				top: 5px;
			}
		}
	}
	.user_menu:hover {
		cursor: pointer;
		.main_content_user_menu {
			background-color: rgba(189, 189, 189, 0.1);
		}

		.header_sub_menu {
			background-color: #302D29;
		}
	}
  .header_sub_menu {
  	z-index: 20;
  	position: absolute;
  	display: none;
  	background-color: #201D19;
  	font-size: 20px;
  	margin: 5px -5px 0;
  	.header_sub_opt {
  		a {
  		padding-right: 10px;
  		padding-left: 10px;
  		display: block;
  		color: #CCCCCC;
  		-webkit-transition: 0.25s all;
  		-ms-transition: 0.25s all;
  		transition:0.25s all;
  		}
  	}
  	.header_sub_opt:hover {
  		a {color: #fff;}
  		background-color: $background_header_hover;
  	}
  }
}

#user_container {
	width: 980px;
	margin: auto auto;
	background-color: $main_block;
	border-radius: 0 0 10px 10px;
	padding-bottom: 5px;

	.user_settings_block {
		padding: 10px;
		label {
			min-height: 30px;
		}
		.information_block {

			.avatar_block {
				margin-left: 50px;
				padding-bottom: 10px;
				height: 100;

				.avatar_img{
					background-position: center center;
					background-size: cover !important;
					display: table-cell;
					width: 100px;
					height: 100px;
					box-shadow:  $green_letter 0px 0px 5px;
					img {
						display: none;
						width: 100px;
						//height: 100px;
						box-shadow:  $green_letter 0px 0px 5px;					
					}

				}
				.avatar_change{
					display: table-cell;
					border: 20px transparent solid;
					vertical-align: middle;	
				}
			
			}
		}
	}

	.user_block {
		.name_user_block {
			padding: 20px 25px 10px;
			margin: 0 5px 5px;
			
			//background-color: #CCCCCC ;
			.image_user {

			}
     	.user_row {
     		font-size: 30px;
        .user_row_principal_text {
        	display: inline-block;
        	max-width: 200px;
          }

        img.user_row_avatar {
          border-radius: 30px;
          width: 30px;
        }
     		
        .connections_panel {
     			display: inline-block;
          float: right;
     			.follow {
     				padding-left: 25px; 
     				display: inline-block;
     			}
     		}
     		.tools_panel {
     			display: inline-block; 
          float: right;
     			i {
     				cursor: pointer;
     				line-height: 20px;
     			}
     			i:hover {
     				color: #505050;
     			}
     		}
     	}
		}
	}
}

.edit_musical_tastes {
	max-width: 435px;
	border-radius: 2px;
	background-color: $inside_sub_block;
	display: inline-block;
	text-align: center;
	padding: 10px;
	vertical-align: top;
	.edit_musical_taste {
		cursor: pointer;
		display: inline-block;
		border: solid 1px #3D3D3D;
		width: 65px;
		height: 65px;
		margin: 9px;
		background-color: red;
		font-family: Droid, sans-serif ;
		line-height: 70px;
		font-size: 43px;
	}

	.edit_musical_taste.selected {
		border: solid 5px #3D3D3D;
		margin: 5px;

	}

	.edit_musical_taste:hover {
		opacity: 0.7;
	}
		
}


#footer_users {
	z-index: 20;
	height: 20px;
	width: 100%;
	font-size: 12px;
	font-family: arial;
	color: $green_letter;
	background-color: $header_color;
	padding: 10px;
	display: block;
	position: fixed;
  left:0px;
  bottom:0px;

	.footer_link {
		margin: 5px;	
		display: inline-block;
	}
}
