// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "general_var";

#header.pq_header {
	height: 100%;
	font-family: arial;
	color: $green_letter;
	background-color: $header_color;
	padding: 5px;
	height: 55px;
	line-height: 55px;
	box-shadow: 0px 1px 3px #6C6C6C;

	a{
		color: $green_letter;	
	}
	a:hover {
		color: #8CC6DA;
	}

	.title {
		font-size: 50px;
		display: inline-block;
	}
	.sub_title {
		display: inline-block;
		font-size: 15px;
	}
	.music_control_panel {
		display: inline-block;
		.border_icon_music {
			display: inline-block;
			min-width: 60px;
			text-align: left;

			i {
				cursor: pointer;
				font-size: 40px;
        position: relative;
        .notification_count {
          font-family: Arial, sans-serif;
          font-size: 12px;
          position: absolute;
          background-color: red;
          padding: 2px 6px;
          color: #FFF;
          border-radius: 10px;
          bottom: 0px;
          right: 0px;
        }
			}
			i:hover {
				color: #8CC6DA;
			}
		}
		
	}
	.user_menu {
		font-size: 40px;
		float: right;
		padding: 5px;
		position: relative;
		top: -5px;		
		.main_content_user_menu {
			margin: -5px;
			padding:5px;
			img {
				width: 40px;
				position: relative;
				top: 5px;
			}
		}
	}
	.user_menu:hover {
		cursor: pointer;
		.main_content_user_menu {
			background-color: rgba(189, 189, 189, 0.1);
		}

		.header_sub_menu {
			background-color: #302D29;
		}
	}
  .header_sub_menu {
  	z-index: 20;
  	position: absolute;
  	display: none;
  	background-color: #201D19;
  	font-size: 20px;
  	margin: 5px -5px 0;
  	.header_sub_opt {
  		a {
  		padding-right: 10px;
  		padding-left: 10px;
  		display: block;
  		color: #CCCCCC;
  		-webkit-transition: 0.25s all;
  		-ms-transition: 0.25s all;
  		transition:0.25s all;
  		}
  	}
  	.header_sub_opt:hover {
  		a {color: #fff;}
  		background-color: $background_header_hover;
  	}
  }
}

#user_container {
	width: 980px;
	margin: auto auto;
	background-color: $main_block;
	border-radius: 0 0 10px 10px;
	padding-bottom: 5px;

	.user_settings_block {
		padding: 10px;
		label {
			min-height: 30px;
		}
		.information_block {

			.avatar_block {
				margin-left: 50px;
				padding-bottom: 10px;
				height: 100;

				.avatar_img{
					background-position: center center;
					background-size: cover !important;
					display: table-cell;
					width: 100px;
					height: 100px;
					box-shadow:  $green_letter 0px 0px 5px;
					img {
						display: none;
						width: 100px;
						//height: 100px;
						box-shadow:  $green_letter 0px 0px 5px;					
					}

				}
				.avatar_change{
					display: table-cell;
					border: 20px transparent solid;
					vertical-align: middle;	
				}
			
			}
		}
	}

	.user_block {
		.name_user_block {
			padding: 20px 25px 10px;
			margin: 0 5px 5px;
			
			//background-color: #CCCCCC ;
     	.user_row {
        table.user_row_info {
          tr {
            td.user_row_avatar {
              img {
                border-radius: 50px;
                width: 50px;
              }
            }
            td.user_row_name {
              font-size: 40px;
              .relation_tag {
                vertical-align: middle;
              }
            }
            td.connections_panel {
              font-size: 25px;
              text-align: right;
            }
            td.user_row_bio {
              color: $background_normal;
              max-width: 450px;
            }
            td.personal_pnsq {
              font-size: 14px;
              text-align: right;
              a {
                color: $green_letter;
                i {
                  font-size: 20px;
                  position: relative;
                  top: 3px;  
                }
              }
              a:hover {
                opacity: 0.7;
              }
            }
          }

        }

     		.tools_panel {
     			display: inline-block; 
          float: right;
     			i {
     				cursor: pointer;
     				line-height: 20px;
     			}
     			i:hover {
     				color: #505050;
     			}
     		}
     	}
		}
	}
}

.edit_musical_tastes {
	max-width: 480px;
	border-radius: 2px;
	background-color: $inside_sub_block;
	display: inline-block;
	text-align: center;
	padding: 10px;
	vertical-align: top;
	.edit_musical_taste {
		cursor: pointer;
		display: inline-block;
		border: solid 1px #3D3D3D;
		width: 90px;
		height: 90px;
		margin: 10px;
		background-color: red;
    overflow: hidden;
    .taste_container {
      display: table;
      width: 100%;
      height: 100%;
      .taste_text {
        display: table-cell;
        vertical-align: middle;
        font-family: Droid, sans-serif ;
        font-size: 45px;
        line-height: 50px;
      }
    }
	}

	.edit_musical_taste.selected {
		border: solid 5px #3D3D3D;
		margin: 6px;
	}

	.edit_musical_taste:hover {
		opacity: 0.7;
	}
		
}


#footer_users {
	z-index: 20;
	height: 20px;
	width: 100%;
	font-size: 12px;
	font-family: arial;
	color: $green_letter;
	background-color: $header_color;
	padding: 10px;
	display: block;
	position: fixed;
  left:0px;
  bottom:0px;

	.footer_link {
		margin: 5px;	
		display: inline-block;
	}
}
