@import "general_var";

  .block-text{
    position: fixed;
    color: #FFF;
    font-size: 20px;
    width: 260px;
    padding: 20px;
    background-color: rgba(0,0,0, 0.7);
    border-radius: 2px;

    span {
      display: block;
    }

    .skip {
      color: #b2b2b2; 
      margin: 10px 0 0 0;
      font-size: 12px;
    }

  }