// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#header {
	height: 100%;
	font-family: arial;
	color: #83B32B;
	background-color: rgba(27, 24, 19,0.9);
	padding: 5px;
	height: 55px;
	line-height: 55px;

	.title {
		font-size: 50px;
		display: inline-block;
	}
	.sub_title {
		display: inline-block;
		font-size: 15px;
	}
}

#users_background {
	background: no-repeat fixed center center / cover #505050;
	position: fixed;
	width: 100%;
	height: 100%;
}

#user_container {
	width: 980px;
	margin: auto auto;
	background-color: #D7D7D7;
	height: 100%;

	.user_block {
		padding: 5px;
		.name_user_block {
			padding: 5px;
			margin: 5px;
			margin-top: 0px;
			border-radius: 5px;
			background-color: #CCCCCC ;
			.image_user {

			}
     	.name_user {
     	}

		}

		.information_block {
			padding: 5px;
			margin: 5px;
			margin-top: 0px;
			border-radius: 5px;
			background-color: #CCCCCC ;

		}

		.new_message_panel {
			padding: 5px;
			margin: 5px;
			margin-top: 0px;
			border-radius: 5px;
			background-color: #CCCCCC ;
			.record_button {}
      .text_wrapper{}
      .tags_wrapper{}

		}
	}

}

#footer_users {
		height: 20px;
		width: 100%;
		font-size: 12px;
		font-family: arial;
		color: #83B32B;
		background-color: rgba(27, 24, 19,0.9);
		padding: 10px;
		display: block;
		position: fixed;
	  left:0px;
	  bottom:0px;

		.footer_link {
			margin: 5px;	
			display: inline-block;
		}
	}
