#place_for_window_in_holder {
  position: relative;
  z-index: 100;

  .window_holder {
    width: 100%;
    text-align: center;
    margin: auto;
    position: absolute;
    .window_container {
      position: relative;
      background-color: #F6F6F6;
      box-shadow: 0px 1px 5px 5px #D0D0D0;
      border-radius: 10px;
      margin: 40px auto 0;
      padding: 5px 20px 20px;
      width: 400px;

      .closer_window {
        position: absolute;
        right: 10px;

      }
      .closer_window:hover {
        cursor: pointer;
      }

      .window_in_holder {
        position: relative;
      }
    }
  }
}