#place_for_window_in_holder {
  position: relative;
  z-index: 100;

  .window_holder {
    width: 100%;
    text-align: center;
    margin: auto;
    position: absolute;
    .window_container {
      position: relative;
      background-color: #C0C0C0;
      border: 1px solid #000000;
      border-radius: 10px;
      margin: 20px auto;
      padding: 5px;
      width: 500px;

      .closer_window {
        position: absolute;
        right: 10px;

      }
      .closer_window:hover {
        cursor: pointer;
      }

      .window_in_holder {
        position: relative;
        min-width: 400px;
      }
    }
  }
}