#header.pq_header
	=link_to(root_path) do
		.title="PiensaQue"
		.sub_title="Beta"
	- if signed_in? 
		.space{:style => 'display: inline-block; width:20px;'}
		.music_control_panel
			.border_icon_music
				%i.icon-play{:id => 'play_pause_b', :onclick => "if ($('i#play_pause_b').hasClass('icon-play')) { $('i#play_pause_b').removeClass('icon-play').addClass('icon-pause')} else {$('i#play_pause_b').removeClass('icon-pause').addClass('icon-play')}"}
			.border_icon_music
				%i.icon-volume-up{:id => 'volume_up_down', :onclick => "if ($('i#volume_up_down').hasClass('icon-volume-up')) { $('i#volume_up_down').removeClass('icon-volume-up').addClass('icon-volume-off')} else {$('i#volume_up_down').removeClass('icon-volume-off').addClass('icon-volume-up')}"}

		.user_menu
			.main_content_user_menu{:onclick => "$('#header_sub_menu').slideToggle();"}
				=current_user.nick
				=image_tag(current_user.avatar.url(:thumb))
			.header_sub_menu#header_sub_menu
				- if current_user.admin?
					.header_sub_opt
						=link_to(admin_panel_path, :class => 'admin') do
							%i.icon-chevron-right
							="Admin Panel"
				.header_sub_opt
					=link_to(settings_user_path(current_user.nick)) do
						%i.icon-gear
						="Settings"
				.header_sub_opt
					=link_to(signout_path) do
						%i.icon-signout
						="Sign out" 
