%table
  %tr.invitation.title
    %td.id="ID"
    %td.email="Email"
    %td.created_at="Created_at"
    %td="Edit"
  - for invitation in RequestInvitation.all.order('id ASC')
    %tr.invitation{:style => cycle(nil, 'background-color: #C7C7C7; border-color:#BBBBBB')}
      %td=invitation.id
      %td.email=invitation.email
      %td.created_at=invitation.created_at
      %td=link_to('Delete',request_invitation_path(invitation), :confirm => "Are you sure?", :method => :delete)