%table
  %tr.title.user
    %td="ID"
    %td="Nick"
    %td="Name"
    %td="Surname"
    %td="Email"
    %td="Rank"
    %td="Rock?"
    %td="Pop?"
    %td="Elect?"
    %td="Instr?"
    %td="Jazz?"
    %td="Edit"
  - for user in User.all
    %tr.users
      %td=user.id
      %td=user.nick
      %td=user.name
      %td=user.surname
      %td=user.email
      %td=user.rank
      %td=user.mt_rock ? "Y" : "X"
      %td=user.mt_pop ? "Y" : "X"
      %td=user.mt_electronic ? "Y" : "X"
      %td=user.mt_instrumental ? "Y" : "X"
      %td=user.mt_jazz ? "Y" : "X"
      %td=link_to('Edit',settings_user_path(user.nick))
      -#Create a new edit for admins. 