.container{:id => "window_in_holder_#{close}"}
  .window_in_holder.window{:id => "inner_window_in_holder_#{close}"}
    
    %div{:id => "window_for_#{close}"}

:javascript
  $(function() {
    $( "#window_in_holder_#{close}" ).draggable({
      handle: ".header_window"
    });
  });