-# Este es el código para la función prepare_for_modal() en application.js
  #md-window.window_holder.md-modal.md-effect-2
    #md-inner_window.inner_window.window.md-content
      .md-close="X"

  :javascript
    $('#closer_modal').click(function() {close_window();});