.window_holder
  .window_container{:id => "window_#{window_id}"}
    .closer_window{:id => "closer_#{window_id}"}="X"
    .inner_window.window{:id => "inner_#{window_id}"}
      %div{:id => "window_for_#{window_id}"}