#user_container{:style => 'width: 1121px;'}
  .title_section.center{:style => 'padding: 5px;'}="Welcome to Admin Panel"
  .information_block
    .application_admin_panel
      %h1="Users"
      = render :partial => 'application/panel_users'

      %h1="Invitation"
      = render :partial => 'application/panel_invitations'

      %h1="Tags"
      =Tag.all

      %h1
        ="Musics"
        =link_to('+', new_music_path)
      = render :partial => 'application/panel_music'

      %h1="PnsQs"
      =Pnsq.all