- if !signed_in? 
	= render :partial => 'application/lading'
- else 
	= render :partial => 'users/dashboard'	

#place_for_window_in_holder

- if false
	#footer_landing
		.footer_link="About"
		.footer_link="|"
		.footer_link="Contact "
